/* Change the background color of code blocks */
pre.sourceCode {
  background-color: #f8f8f8;
}

/* Change the text color of code output */
div.cell-output {
 border: 2px solid #cae8dc;
 border-radius: 8px;
 background-color: #fff;
 padding: 10px;
  color: #367588;
}

pre.code {
   color: #367588;
}
code {
   color: #367588;
}

.centered-text p {
    text-align: center;
}

.callout-orange {
 border: 2px solid #f0ad4e;  
 border-radius: 8px;   
 background-color: #fff3cd;   
 padding: 10px;
}


blockquote {
  font-size: 0.8em; /* Reduces the font size by 1em */
  background-color: #fcfafc
}

.blockquote {
  font-size: 0.8em; /* Reduces the font size by 1em */
}

.toc {
  margin-right: 10px;  
}

body {
   font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

ul, ol {
  line-height: 1;
  margin-bottom: -0.1em;  
}

.exercise-box {
  background-color: #f9f9f9; /* Light grey background */
  /*border-left: 5px solid #007ACC; /* Blue left border */ 
  border-left: 5px solid #2c3e50; /* Blue left border */ 
  padding: 10px;
  font-size: .9em;
  color: #2c3e50;
  margin: 20px 0;
  font-family: Sans-Serif;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1); /* Subtle shadow */
  
}

.exercise-box p:first-of-type {
  font-weight: bold;
  text-decoration: underline;
}

.exercise-box summary { 
  font-weight: bold; 
  text-decoration: underline; 
  cursor: pointer; /* Indicate clickable area */ 
  padding: 5px 0; /* Add some padding to the summary */ } 
  
.exercise-box details[open] summary::after { 
  content: " ▼"; /* Down arrow when open */ 
  
} 

.exercise-box summary::after { 
  content: " ▶"; /* Right arrow when closed */
  
}
  